@media (min-width: 991px) {
    #navbarNav{
        visibility: hidden;
    }
    
}
#food{
    text-align: center;
    border: 2px solid black;
    margin: 10px 50px;
}
.bg-light{
    background-color: #ffc535;
}
.container-fluid{
    background-color: #1c7430;

}
#baslik{
    text-align: center;
    border: 5px solid black;
    width: 40%;
    margin: auto;
}
body{
    background-color: grey;
}
